.nike-item{
    width: 400px;
    height: 500px;
    margin: 20px;
    border: 2px solid black;
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    height: 300px;
    text-align: center;
}
.nike-pic{
    width: 400px;
    height: 200px;
}
.cart{
    border: 2px solid black;
}
.cart-item{
    margin: 25px;
    border: solid 2px black;
}
#hide{
    display:none
}
body,html{
    text-align: center;
}
.nike-list{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
}
.cart-link{
    text-decoration: none;
    color: red;
}
.cart-link:hover{
    text-decoration: none;
    color: orange;
    font-size: 20px;
}